[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
pyaudio = "*"
transformers = "*"
librosa = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
