<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">
</head>
<body>
    <h1 class="website-title">Website Name</h1>
    <h2 class="description">Some Description</h2>
    <h2 class="emotion"></h2>
    <audio controls>
        <source src="{{ url_for('static', filename='output.wav') }}" type="audio/wav">
    </audio>
    <img src="{{ url_for('static', filename='images/RGB-Sound-Wave-No-Background.svg') }}" 
    alt="Colorful Sound Wave">
    <div class="buttons-container">
        <button id="start-button" class="start-button">Start</button>
        <button id="stop-button" class="stop-button">Stop</button>
    </div>
    <script defer>
        const startButton = document.getElementById('start-button');
        const stopButton = document.getElementById('stop-button');
        const audio = document.getElementsByTagName('audio')[0];
        audio.style.display = 'none';

        startButton.addEventListener('click', function clickedOn() {
            fetch('/start',{ method: 'POST' })
            .then(response => response.json())
            .then(data => console.log(data));
            startButton.style.display = 'none';
            stopButton.style.display = 'block';
        });
        
        stopButton.addEventListener('click', function clickedOff() {
            fetch('/stop',{ method: 'POST' })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const emotion = document.getElementsByClassName('emotion')[0];
                emotion.textContent = data['emotion'];
                audio.src= "{{ url_for('static', filename='output.wav') }}?t=" + new Date().getTime();
                audio.load();
                audio.style.display = 'block';
            });
            startButton.style.display = 'block';
            stopButton.style.display = 'none';
  });
    </script>
</body>
</html>